body {
  background-size: cover;
  background-image: url("imagens/81310.jpg");
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #000000;
  line-height: 1.6;
}

.imagens {
  height: 40px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.contato-title {
  text-align: left
}

.container {
  text-align: center;
}

.container img {
  display: inline-block;
}



.image-container img {
    width: 10%;
    height: 10%;
    max-width:100px; 
    max-height: 100px; 
    transition: transform 0.8s ease;
  }

.image-container img:hover {
  transform: scale(1.1);
}


.enviar {
  background-color: #886592de;
  color: #bab2c7;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.enviar:hover {
  background-color: #8c55a0;
}


h1{
color:#ac6dbf;
}

h2 {
color: #58bbc2;
}

header {
background:#cc99da33 ;
padding: 20px;
color:  #064680;
}

nav ul {
list-style: none;
}

nav ul li {
display: inline;
margin-right: 25px;
}

nav ul li a {
color:  #58bbc2;
text-decoration: none;
}

section {
padding: 40px;
}

footer {
background-color: rgba(234, 214, 255, 0.822);
padding: 20px;
color: #9b00f5;
text-align: center;
}

footer p {
margin: 0;
left: 0;
bottom: 0;
width: 100%;
}