
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    width: 200px;
    height: 200px;
    margin: 0px;
}

.img-avatar {
    width: 200px;
    height: 200px;
    margin: 0px;
}

.imagem-logo {
    margin: 40px;
    padding: 20px;
    width: 50px;
    height: 50px;
}

.nav-barra{
    display: flex;
    width: 100%;
    position:relative;
    box-shadow: none;
    z-index: auto;
    
}

.container{
  flex-grow: 1;
  margin:  auto;
  position: fixed;
  width: 100%;
}
.nav-lista{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    background-color:#f6f3ff ;
    box-shadow: 0 0 10px #6b3cee;
    font-weight: bolder;
    font-size: 20px;
}

.nav-item{
    display: flex;
    align-items: center;
}
a.nav-barra, .nav-link {
    cursor: pointer;
}


a {
    display: flex;
    justify-content: center;
    color: #6b3cee;
    cursor: pointer;
    text-decoration: none;
    font-weight: 0;
}

.menu_logo{
    display: flex;
    gap: 50px;
}

.menu_logo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: display 0.3s ease;
}

.menu_logo li {
    margin: 0px;
    list-style-type: none;
    font-size: 18px;
}

.menu_logo a {
    text-decoration: none;
    color: rgb(81, 0, 173);
}

.menu-fechado {
    display: none;
}


.menu{
    margin-right: 10px;
    box-shadow: none;
    padding: 1px 0;
    text-align: center;
}

section{
    display: flex;
    margin: 0px;
}

.conteudo{
    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: column;
}

.titulo{
    display: flex;
    margin: 230px auto;
    width: 100%;
    position:center;
    flex-direction: column;
    align-items: center;
}

h1{
    display: flex;
    margin: 0px;
    width: 100%;
    position:center;
    color: #7d4efd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    justify-content: center; 
    font-weight: 900;
    font-size: 26px;
}

h2{
    display: flex;
    width: 100%;
    position:center;
    color: #220081;
    position: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
}

h3{
    display: flex;
    width: 100%;
    position:center;
    color: #7d4efd;
    position: center;
    justify-content: center;
    font-size: 18px;
}
h5{
    display: flex;
    width: 100%;
    position:center;
    color: #ffffff;
    position: center;
    justify-content: center;
    font-size: 16px;
}

.conteudo-imagem{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.div-conteudo{
    width: 100%;
    margin:70px 0 0 0 ;
    padding: 130px;
    background-color: #7d4efdc7;
    text-align: center;
    line-height: 1.0;
 
}

.div-conteudo h1,h4,p {
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-size: 18px;  
    font-family: "europa", sans-serif;
    line-height: 2.0;
}

.sec-conteudo{
    display: flex;
    margin: 0px;
    color: #e1dbfd;

}
.conteudo-quem-sou{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -60px 80px 50px;
    width: auto;
    font-family: "europa", sans-serif;
}
 
.desenvolvimento{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 150px;
    padding: 150px;
    background-color:#7d4efd
}
    
.quem-sou {
    display: flex;
    width: 100%;
    height: 100%;
    margin:0;
    flex-direction: column;
    justify-content: center;
    position: center;

}
.color-desenvolvimento{
    color: #25008a;
    font-size: 16px;
}


.div-back {
    display: flex;
    align-items: center;   
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    border: 1px solid #7d4efd;
    padding: 20px;
}

.div-python {
    text-align: center;
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #7d4efd;
    padding: 20px;
}

.div-pdv {
    text-align: center;
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
    border: 1px solid #7d4efd;
    padding: 20px;
}


.imagem-cont{
    height: 80px;
    width: 80px;
    padding: 160px 120px 25px 150px;

}

.imagem-conteudo{
    width: 400px;
    height: 400px;
    padding: 125px 0 0 0;
}

.estudando-conteudo{
    margin: 0%;
    text-align: center;

}

.div-conteudo-estudando{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.img-estudando{
    width: 70px;
    height: 70px;
    margin: 15px;
    padding: 20px;

}
.conhecimentos{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

}

.linha-imgs {
    display: flex;
    justify-content: center;
    margin: 0 20px;

}

.p-conhecimentos{
    margin: 30px;
    padding: 20px;
    color: #000000;
    font-size: 18px;
    font-family: "europa", sans-serif;
    line-height: 1.5;
}

.div-certificacoes{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 220px 0;
    justify-content: center;
    background-color: #4400ff23;;
    text-align: center;
    font-size: 18px;
    font-family: "europa", sans-serif;
    line-height: 2.8;
}

.div-certificacoes h2 h3 p a {
    margin: 60px;
    color: #000000;
    font-size: 15px;
    font-family: "europa", sans-serif;
    line-height: 1.8;
}
.trabalho{
    display: flex;
    color: #000;
    margin: 0px;
    font-size: 18px;
    font-family: "europa", sans-serif;
    line-height: 2.0;
}
.trabalho-letra {
    margin: 25px;
    color: #000000;
    font-size: 24px;
    font-family: "europa", sans-serif;
    line-height: 1.5;
}
.trabalho-conteudo {
    margin: 0;
    padding: 200px 250px;
    text-align: center;
}
.img-trabalho{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 400px;
    margin: 100px 0;
    padding: 0 100px;
    display: flex;
 
}

.contato-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 60px;
    border: 1px solid #7d4efd;
    border-radius: 5px;
    box-shadow: 0 0 10px #7d4efd12;
}

.contato-form {
    display: flex;
    flex-direction: column;
}

.contato-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.contato-form input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contato-form button:hover {
    background-color:#7161c0;
    
}

button {
    padding: 10px;
    background-color:#7161c0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    background-color: #1b0064c7;
    text-align: center;
    color: #000;
    font-size: 22px;
    font-family: "europa", sans-serif;
    line-height: 2.0;
    font-size: 24px;
}

.footer-conteudo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #6a34ff;
    text-align: center;
    flex-direction: column;
    padding: 50px;
    font-weight: 1000;
}

.imagens-footer{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.img-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 40px;
}
footer a{
    display: flex;
    justify-content: center;
    padding: 5px;
}


@media screen and (max-width: 900px) {
    img {
        width: 150px;
        height: 150px;
    }

    .img-avatar {
        width: 120px;
        height: 120px;
        margin: 20px;
    }

    .imagem-logo {
        margin: 20px;
        padding: 10px;
        width: 30px;
        height: 30px;
    }

    .imagem-conteudo {
        width: 250px;
        height: 250px;
        margin: 33px;
    }
    .imagem-cont {
        height: 40px;
        width: 40px;
        padding: 0;
    }
    .img-estudando {
        width: 40px;
        height: 40px;
    }

    .img-trabalho {
        width: 300px;
        height: 150px;
        margin: 0px ;
        padding: 20px;
    }
    .img-estudando {
        width: 50px;
        height: 50px;
        margin: 3px; 
        padding: 5px;
    }

    .linha-imgs{
        margin: 0;
        padding: 0;
    }
    .titulo{
        margin: 0;
        padding: 20px;
        position: center;
        }

    .container{
        position: relative;
        width: 100%;
        height: 100%;
    }

    .nav-item {
        flex-direction: column; 
        text-align: center; 
    }

    .nav-barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        padding: 0px;
    }
    .menu_logo{
        display: inline-block;
    }
    .nav-lista {
        display: flex;
        position: relative;
        padding: 0px;
    }

    .div-conteudo {
        width: 100%;
        padding: 50px;
    }

    .quem-sou {
        padding: 50px;
        margin: 50px;

    }

    .div-back,
    .div-python,
    .div-pdv {
        padding:5px;
        margin: 0;

    }

    .conteudo-quem-sou {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .estudando-conteudo {
        margin: 0%;
        text-align: center;
        padding: 5px 10px;

    }

    .div-conteudo-estudando {
        margin: 0%;
        text-align: center;
        padding: 0;
    }

    .p {
        margin: 0;
        padding: 0;
    }
    .contato-container {
        padding: 30px;
        margin: 30px;
    }

    .trabalho-conteudo {
        margin: 0;
        padding: 4px 30px;
        text-align: center;
    }
    .trabalho-letra {
        margin: 12px;
    }
    .div-certificacoes {
        padding: 0px;
    }
}
