*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    width: 250px;
    height: 250px;
    margin: 0px;
}

.img-avatar {
    width: 300px;
    height: 300px;
    margin: 28px;
}

.imagem-logo {
    margin: 20px;
    padding: 0px;
    width: 50px;
    height: 50px;
}

.container{
    flex-grow: 1;
    margin:  auto;
    position: fixed;
    width: 100%;
  }

.nav-barra{
    display: flex;
    justify-content: space-between;
}

.nav-lista{
    display: flex;
    align-items: center;
    background-color:#f6f3ff ;
    box-shadow: 0 0 10px #6b3cee;
    font-size: 20px;
}
.nav-link {
    text-decoration: none;
    color: #f5ecff;
    margin: 0;
    
}
.nav-item {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.menu_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_logo ul {
    list-style-type: none;
    display: flex;
    transition: display 0.3s ease;
}

.menu_logo li {
    margin: 0px;
    list-style-type: none;
    font-size: 16px;
}

.menu_logo a {
    margin: 25px;
    text-decoration: none;
    color: rgb(81, 0, 173);
}

.menu-fechado {
    display: none;
}


.menu{
    box-shadow: none;
    padding: 1px 0;
    text-align: center;
}

section{
    display: flex;
    margin: 0px;
}


.titulo{
    display: flex;
    margin: 160px auto;
    width: 100%;
    position:center;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #7d4efd;
}

h2{
    color: #220081;
}

h3{
    color: #7d4efd;
}
h5{
    color: #ffffff;
}

.div-conteudo{
    width: 100%;
    padding: 80px;
    background-color: #9975fc;
    text-align: center;
    line-height: 1.5;
 
}

.div-conteudo h1,h4,p {
    padding: 0px;
    margin: 0px;
    color: #fff; 
    line-height: 1.5;
}

.sec-conteudo{
    display: flex;
    margin: 0px;
    color: #e1dbfd;

}
.conteudo-quem-sou{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-family: "europa", sans-serif;
    line-height: 1.5;
}
 
.desenvolvimento{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color:#7d4efd;
}
    
.quem-sou{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: center;
    margin: 30px;

}
.color-desenvolvimento:hover{
    color: #25008a;
    font-size: 16px;
    margin: 20px;
    transition: border-color 1.5s;
}
.color-desenvolvimento{

    transition: border-color 1.5s;
}



.div-back{
    display: flex;
    align-items: center;   
    background-color: #ffffff;
    border-radius: 25px;
    text-align: justify;
    border: 1px solid #7d4efd;

}

.div-python{
    display: flex;
    align-items: center;   
    background-color: #ffffff;
    border-radius: 25px;
    border: 1px solid #7d4efd;
    text-align: justify;

}

.div-pdv{
    display: flex;
    align-items: center;   
    background-color: #ffffff;
    border-radius: 25px;
    border: 1px solid #7d4efd;
    text-align: justify;
 
}

.conteudo-imagem{
    display: flex;
    justify-content:space-around;
    align-items:center;
    margin: 0px;
}

.imagem-cont{
    height: 80px;
    width: 80px;
    padding: 25px;
}

.imagem-conteudo{
    width: 400px;
    height: 400px;
}

.estudando-conteudo{
    margin: 0%;
    text-align: center;

}

.div-conteudo-estudando{
    display: flex;
    flex-direction: column;
    padding: 50px;
 
}

.img-estudando{
    width: 50px;
    height: 50px;
    padding: 10px;

}
.conhecimentos{
    display: flex;
    justify-content: space-between;
    margin: 50px;

}

.linha-imgs {
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    margin: 0 20px;

}

ul {
    list-style-type: none;
}

.p-conhecimentos{
    display: flex;
    align-items: center;
    padding: 100px;
    color: #25008a;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    margin: 30px;
}
.imagem-certificados{
    width: 450px;
    height: 450px;
    margin: 100px;
}
.apresentacao-certificacoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.div-certificacoes{
    display: flex;
    background-color: #4400ff23;;
    text-align: justify;
    line-height: 1.5;
    padding: 30px;

}

.div-certificacoes h2 h3 p{
    color: #000000;
    font-family: "europa", sans-serif;
}

ul li a {
    text-decoration: none; 
    color: inherit; 
    font-weight: normal; 

}
.trabalho{
    display: flex;
    color: #000;
    font-size: 18px;
    line-height: 2.0;
}
.apresentacao__conteudo__trabalho{
    margin: 25px;
    padding: 0 180px;
    color: #3b005e;
    justify-content: space-between;
    align-items: center;

}
.apresentacao_projetos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imagem_projeto{
    display: flex;
    width:300px;
    height: 150px;
    margin: 0;
    border-radius: 8px;
    border: 4px solid #caa1ff;

}
.trabalho-letra {
    margin: 25px;
    color: #000000;
    font-size: 24px;
    font-family: "europa", sans-serif;
    line-height: 1.5;
}
.trabalho-conteudo {
    margin: 0;

    text-align: center;
}
.img-trabalho{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 400px;
    margin: 100px 0;
    padding: 0 100px;
    display: flex;
 
}

.contato-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 60px;
    border: 1px solid #7d4efd;
    border-radius: 5px;
    box-shadow: 0 0 10px #7d4efd12;
}

.contato-form {
    display: flex;
    flex-direction: column;
}

.contato-form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.contato-form input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contato-form button:hover {
    background-color:#7161c0;
    
}

button {
    padding: 10px;
    background-color:#7161c0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    background-color: #1b0064c7;
    text-align: center;
    color: #000;
    font-family: "europa", sans-serif;
    line-height: 2.0;
}

.footer-conteudo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #6a34ff;
    text-align: center;
    flex-direction: column;
    padding: 50px;
    font-weight: 1000;
}

.imagens-footer{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.img-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40px;
    height: 40px;
}
footer a{
    display: flex;
    justify-content: center;
    padding: 5px;
}


@media screen and (max-width: 900px) {
    img {
        width: 150px;
        height: 150px;
    }

    .img-avatar {
        width: 120px;
        height: 120px;
        margin: 20px;
    }

    .imagem-logo {
        margin: 20px;
        padding: 10px;
        width: 30px;
        height: 30px;
    }

    .imagem-conteudo {
        width: 170px;
        height: 170px;
        margin: 14px;
    }
    .imagem-cont {
        height: 40px;
        width: 40px;
        padding: 0;
    }
    .img-estudando {
        width: 40px;
        height: 40px;
        margin: 0px;
    }

    .img-trabalho {
        width: 300px;
        height: 150px;
        margin: 0px ;
        padding: 20px;
    }

    .linha-imgs{
        margin: 0;
        padding: 0;
        flex-direction: initial;
    }
    .imagem-certificados {
        width: 250px;
        height: 250px;
        margin: 50px;
    }
    .imagem_projeto {
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 80px;
        margin: 5px;
        border-radius: 8px;
        border: 2px solid #caa1ff;
    }
    .apresentacao_projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .apresentacao__conteudo__trabalho {
        margin: 25px;
        padding: 0px;
        color: #3b005e;
        justify-content: space-between;
        align-items: center;
    }
    .titulo{
        margin: 0;
        padding: 20px;
        position: center;
        }

    .container{
        position: relative;
        width: 100%;
        height: 100%;
    }

    .nav-item {
        flex-direction: column; 
        text-align: center; 
    }

    .nav-barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        padding: 0px;
    }
    .menu_logo{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .nav-lista {
        display: flex;
        position: relative;
        padding: 0px;
    }

    .div-conteudo {
        width: 100%;
        padding: 50px;
    }

    .quem-sou {
        padding: 50px;
        margin: 50px;

    }

    .div-back,
    .div-python,
    .div-pdv {
        padding:0px;
        margin: 0;
    }

    .conteudo-quem-sou {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .conhecimentos {
        display: flex;
        flex-direction: column;
    }

    .p-conhecimentos {
        display: flex;
        padding: 5px;
        margin: 5px;
    }
    .estudando-conteudo {
        margin: 0%;
        text-align: center;
        padding: 5px 10px;

    }

    .div-conteudo-estudando {
        margin: 0%;
        text-align: center;
        padding: 0;
    }

    .p {
        margin: 0;
        padding: 0;
    }
    .contato-container {
        padding: 30px;
        margin: 30px;
    }

    .trabalho-conteudo {
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    .trabalho-letra {
        margin: 12px;
    }
    .div-certificacoes {
        padding: 0px;
    }

    .apresentacao-certificacoes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        margin: 0px;

    }
}
